<!DOCTYPE html>
<html>
<head>
  <title>Page d'identification</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" >
  <form action="/login" method="GET">
    <h1>Se connecter</h1>
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required>

    <label for="password"><b>Mot de passe</b></label>
    <input type="password" placeholder="Entrer votre mot de passe" name="password" id="password" minlength="8" required>

    <button type="submit">Se connecter</button>
    <div class="options">
      <a href="new_user.html">S'inscrire</a>

    </div>
    <div class="checkbox">
      <input type="checkbox" id="remember-me" name="remember-me">
      <label for="remember-me">Se souvenir de moi</label>
    </div>
  </form>
</div>
</body>
</html>