body {
    background-image: url(i.jpg);
  }
  
  .container {
    width: 50%;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
  }
  
  input[type=email],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    background-color:rgb(45, 45, 246);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    color:black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .checkbox input {
    margin-right: 10px;
  }